* {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.logoDiv {
  width: 100vw;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.searchBox {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  width: 582px;
  height: 44px;
  border-radius: 30px;
  border: 1px solid rgb(220, 225, 230);
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 20px;
}

.searchBox:hover {
  box-shadow: 0px 0px 6px 0.5px #b7b6b6;
}

.searchBar {
  border: none;
  font-size: 16px;
  margin: 0 10px 0 15px;
}

.searchBar:focus {
  outline: none;
}

@media screen and (max-width: 650px) {
  .searchBox {
    width: 90%;
  }

  .searchIcon {
    padding-left: 25px;
  }

  .microphoneIcon {
    padding-right: 25px;
  }
}

.searchBtnDiv {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.searchBtn {
  background-color: #f8f9fa;
  padding: 13px;
  margin: 0 6px;
  border: none;
  color: #3c4043;
  border-radius: 3px;
  cursor: pointer;
}

.searchBtn:hover {
  box-shadow: 0 0 3px 0.025px grey;
}

.languageOffers {
  width: 100vw;
  height: 300px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.languageOffers > a {
  text-decoration: none;
  color: #1a0dab;
  padding-left: 10px;
}

.navDiv {
  padding: 20px 0;
}

.navUl {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

.navLi {
  padding: 0 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  cursor: pointer;
}

.bottomNav1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 50px;
  background-color: #b7b6b6;
  font-family: Arial, Helvetica, sans-serif;
}

.bottomNav2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 50px;
  background-color: #b7b6b6;
  font-family: Arial, Helvetica, sans-serif;
}

.bottomNavUl {
  list-style-type: none;
}

.bottomNavLi {
  display: inline;
  padding: 0 15px;
}
